---
---

<html>
  <head>
    <title>BFH Roofing</title>
    <link rel="icon" type="image/favicon" href="/public/favicon.ico" />
  </head>
  <body>
    <header></header>
    <main>
      <slot></slot>
    </main>
    <footer></footer>
  </body>
</html>
